<table>
  <thead>
    <tr>
    <th colspan="1"></th>
    <th>Title</th>
    <th>Opinion</th>
    </tr>
  </thead>
<% books.each do |book| %>
<tbody>
  <tr>
  <td>
    <%= link_to user_path(book.user_id) do %>
      <%= attachment_image_tag book.user, :profile_image, :fill, 80, 80, fallback: "no_image.jpg" %>
    <%end%></td>
  <td><%= link_to book_path(book.id) do %>
  <%= book.title %>
  <%end%></td>
  <td><%= book.body %></td>
  </tr>
  </tbody>
<%end%>
</table>
